
.bigHeartEffect{
  position:absolute;
  pointer-events:none;

  width:110px;
  height:110px;

  z-index:999;

  display:flex;
  justify-content:center;
  align-items:center;

  /* centra exacto donde tocás */
  transform:translate(-50%, -50%);

  will-change:transform, opacity;

  /* profundidad + glow */
  filter:
    drop-shadow(0 8px 18px rgba(0,0,0,.30))
    drop-shadow(0 0 10px rgba(255,255,255,.16))
    drop-shadow(0 0 22px rgba(255,70,140,.18));
}

.bigHeartEffect svg{
  width:100%;
  height:100%;
  overflow:visible;
}

/* borde brillante nítido */


.like-btn {
  width: 40px;
  height: 40px;

  position: absolute;
  bottom: 10%;
  right: 20px;

  z-index: 10;
  cursor: pointer;

  background: none;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: center;
  transition: transform 0.15s ease;

  -webkit-tap-highlight-color: transparent;
}

/* 🔹 SVG ocupa todo el espacio */
.like-btn svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* 🔴 LIKE ACTIVO */
.like-activo svg path {
  fill:#e93a3ad0;
  transition: fill 0.5s ease;
  stroke: none;
}

/* ⚪ LIKE INACTIVO */
.like-inactivo svg path {
  fill: transparent;
  stroke: white;
  stroke-width: 30;
}

/* 🟣 LIKE BLOQUEADO */
.like-bloqueado svg path {
  fill: #9b3df0;
  stroke: none;
  transition: fill 1s ease, transform 0.5s ease;
}

/* 🔥 EFECTO CLICK */
.like-btn:active {
  transform: scale(1.2);
  fill: #ff5;
}
}
.like-btn:active.like-bloqueado svg path {
  fill: #a25;
}
